{%extends "base_home.html" %}
{% block content %}
	<ul class="homebuttons">
				
		<li class="homebuttons">
			<a href="{{ url_for('login_page') }}"><button class="spotifybutton">Login</button></a>
		</li>
		<li class="homebuttons">
			<a href="{{ url_for('register_page') }}"><button class="spotifybutton">Register</button></a>
		</li>
		<!--
		Need to redirect user to Spotify login page when clicked, and then back to home page after login
		<li class="homebuttons">
			<span><input type="text" class="usernamebutton" placeholder="Enter a username"></span>
		</li>
		-->
		<li class="homebuttons">
			<span><input type="text" class="sessionID" placeholder="Enter 5 digit session ID"></span>
			<a href="{{ url_for('player_page') }}"><button class="joinbutton">Join session</button></a>
		</li>
		<!-- Need to add textbox for user to input which session to join (by session ID) -->
		<li class="homebuttons">
			<a href="{{ url_for('player_page') }}"><button class="createbutton">Create session</button></a>
		</li>
		<script type="text/javascript"
         src="{{ url_for('static', filename='script.js') }}"></script>
	</ul>
{% endblock %}