<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jukebox: A music queue thing</title>
	<link rel="stylesheet" href="../static/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
	<link rel="manifest" href="../static/images/site.webmanifest">
</head>

<body id="body_main">
	
	<div class="main">

		<!-- Start user siderbar -->
		<div class="sidebar">
			<div>
				<img class="jukelogo" alt="Jukebox logo" src="../static/images/jukelogo.svg">
			</div>
			<ul class="sidebutton">
				<li class="buttonlabel">
					<span class="oneline" id="createsession">{{ session_id }}</span>
				</li>
				<li class="buttonlabel">
					<a class="linktext" href="{{ url_for('leave_session', session_id=session_id) }}"> 
						<span class="oneline" id="leavesession">Leave session</span>
					</a>
				</li>
			</ul>
			<hr class="sidedivider">
			<h3 class="header">Users</h3>
			<!-- Need to dynamically update this-->
			<div id="userlist-div">
				<ul class="userlist">
					{% for user in users %}
						<li class="users">
							<span class="usertext" id="user1">{{ user.username }}</span>
							{% if session_obj.host_user == user.id %}
							<span class="crown">👑&#xFE0E;</span>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div> 
		</div>
		<!-- Start queue panel elements -->
		<div class="queuepanel">
			<h1 class="queuebanner">Your Queue</h1>
			<ul class="queue">
				<li class="songs queuegrid">
					<span class="queueinfo queuelength">#</span>
					<span class="queueinfo">Title</span>
					<span class="queueinfo queuealbum">Album</span>
					<span class="queueinfo">Queued by</span>
					<span class="queueinfo queuelength">🕓&#xFE0E;</span>
				</li>
				<hr class="queuedivider">
				<li class="songs queuegrid" id="song1">
					<span class="queuenumber">1</span>
					<ul class="titleartist">
						<img class="queueimage" src="../static/images/jukeplaceholder.svg">
						<span class="queuetitle">Blah</span>
						<span class="queueartist">Blah</span>
					</ul>
					<span class="queuealbum">Blah</span>
					<span class="queuedby">blah</span>
					<span class="queuelength">6:68</span>
				</li>

				{% for song in queue %}
				<li class="songs queuegrid" id="song1">
					<span class="queuenumber">1</span>
					<ul class="titleartist">
						<img class="queueimage" src="../static/images/jukeplaceholder.svg">
						<span class="queuetitle">{{song.song_name}}</span>
						<span class="queueartist">{{song.artist_name}}</span>
					</ul>
					<span class="queuealbum">{{song.album_name}}</span>
					<span class="queuedby">{{song.queued_by}}</span>
					<span class="queuelength">{{song.length}}</span>
				</li>
				{% endfor %}
				
	    	</ul>
		</div>
		<!-- Start search panel elements -->
		<div class="searchpanel">
			<li class="contentheader">
				<span><input type="text" class="search" id="addsongs" placeholder="Search Spotify or paste YouTube URL"></span>
			</li>
			<ul class="results">
				<span class="resultsfor">Spotify results for "<em>igor</em>"</h1>
				<li class="songs searchgrid">
					<span class="searchinfo">Title</span>
					<span class="searchinfo searchalbum">Album</span>
					<span class="searchinfo queuelength">🕓&#xFE0E;</span>
				</li>
				<hr class="searchdivider">
				<li class="songs searchgrid">
					<ul class="titleartist">
						<img class="queueimage" src="../static/images/jukeplaceholder.svg">
						<span class="queuetitle">IGOR'S THEME</span>
						<span class="queueartist">Tyler, The Creator</span>
					</ul>
					<span class="searchalbum">IGOR</span>
					<span class="queuelength">3:20</span>
				</li>
	    	</ul>
		</div>

		<!-- Start bottom bar elements -->
		<div class="bottombar">
			<ul class="nowplaying">
				<li class="songsnp">
					<span class="npimagespan"><img class="npimage" src="../static/images/jukeplaceholder.svg"></span>
					<span class="nptitle">Kokomoaaaaaaaaaaaaaaaa</span>
					<span class="npartist">The Beach Boys</span>
				</li>
				<li class="controls">
					<a class="linktext" href="#">
						<span class="forceskip" id="forceskip">Forceskip</span>
					</a>
				</li>
				<li class="vetocounter">
					<span class="vetototal" id="vetototal">Veto Count: </span>
				</li>
			</ul>
		</div>
	</div>

	<script src="{{url_for('static', filename='script.js')}}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		let session_name = document.getElementById("createsession").innerHTML.toString()
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		$(function(){
			window.setInterval(function(){
				loadUserList()
			}, 1000)
		

		function loadUserList(){
			$.ajax({
				url:$SCRIPT_ROOT+"/player/"+session_name+"/update-userlist",
				type:"POST",
				dataType:"json",
				success: function(data){
					$("#userlist-div").replaceWith(data[1]);
				}

			});
		}

		});

	</script>
</body>
</html>