@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* CSS SPECIFICALLY MADE FOR PLAYER.HTML... can use on other pages though */

a {color: white;}

ul {list-style: none;}
li {list-style: none;}

ul.userlist {
	margin: 8px 8px 8px 8px;
	padding-left: 16px;
	padding-right: 16px;
}

body {
	background-color: #111111;
	color:white;
	font-family: Roboto, Arial, serif;
	text-transform:none;
	border:0;
	margin:0;
	padding:0;
	line-height:1.6;
	box-sizing: border-box;
}

.main {
	display: grid;
	grid-template-areas:
		"side con ser"
		"bot bot bot";
	grid-template-columns: 210px 2fr 1fr;
	grid-template-rows: 1fr auto;
	height:100%;
	min-height:100%;
	position: fixed;
	width:100%;
}

.sidebar {
	width: 210px;
	grid-area: side;
	background: linear-gradient(180deg, #36fc5c 0%, #111 20%);
}

.queuepanel {
	background-color: #222222;
	width: 100%;
	height: 100%;
	grid-area: con;
	background: linear-gradient(180deg, #fc3682 0%, #222 20%);
}

.bottombar {
	background-color: #333333;
	width: 100%;
	grid-area: bot;
}

.jukelogo {
	width: 160px;
	margin: 30px 24px 0 24px;
}

.header {
	font-family: Pacifico, Arial, sans-serif;
	font-weight: 500;
	font-size: 24px;
	margin: 8px 24px -8px 24px;
}

.buttons {
	padding-left: 24px;
	padding-right: 24px;
	margin: 8px 0px 10px 0px;
}

.buttonlabel {
	align-items: center;
	display: flex;
	height: 20px;
}

.linktext {
	color:#8dfcf0;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-decoration: none;
	transition-duration: .2s;
}

.linktext:hover {
	color: #36fce7;
	font-weight: 700;
	text-decoration: underline;
}

.sidedivider {
	position: relative;
	background-color: #8dfcf0;
	border: none;
	height: 1px;
	margin: 0 24px 0 24px;
	min-height: 1px;
}

.queuedivider {
	position: relative;
	background-color: #fcd536;
	border: none;
	height: 1px;
	margin: 0 0 10px 0;
	min-height: 1px;
}

.searchdivider {
	position: relative;
	background-color: #36fc5c;
	border: none;
	height: 1px;
	margin: 0 0 10px 0;
	min-height: 1px;
}

.userlist {
	border-radius: 4px;
	margin: 0px;
}

.users {
	display: grid;
	grid-template-columns: [user] 1fr [kick] 10px;
	margin: 0 5px 0 0;
}

.usertext {
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.kick .crown {
	font-size: 14px;
	font-weight: 400;
}

.crown {
	color: #fcd536;
}

.kick {
	color:#111111;
	text-decoration: none;
	transition-duration: .2s;
}

.kick:hover {
	color: #fc3682;
}

.queuebanner {
	padding-left: 24px;
	padding-top: 16px;
	font-size: 36px;
	font-family: Pacifico, Arial, sans-serif;
	font-weight: 500;
	margin: 0px;
}

.queue {
	margin: 0px;
	padding-left: 24px;
	padding-right: 24px;
}

.queuegrid {
	grid-template-columns: [num] 20px [title] 6fr [album] 4fr [queuer] 2fr [time] 50px;
	display: grid;
	gap: 10px;
	align-items: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

a.youtubelink {
	color: #fc8db8;
	text-decoration: none;
	transition-duration: .2s;
}

a.youtubelink:hover {
	color: #fc3682;
	font-weight: 700;
	text-decoration: underline;
}

.titleartist {
	display: grid;
	grid-template-areas:
		"img title"
		"img artist";
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	padding: 0px;
	align-items: center;
}

.queuenumber {
	position: relative;
	text-align: right;
	font-family: 'Roboto Mono';
}

.queuelength {
	font-family: 'Roboto Mono';
	position: relative;
	text-align: right;
}

.queueinfo {
	position: relative;
	color: #fcd536;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.queueimage {
	width: 40px;
	padding: 0;
	margin: 0;
	grid-area: img;
}

.queuetitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	grid-area: title;
	padding-left: 10px;
}

.queueartist {
	font-size: 12px;
	color: #b9b9b9;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	grid-area: artist;
	padding-left: 10px;
}

.queuealbum {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.queuedby {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.searchpanel {
	background-color: #222222;
	width: 100%;
	height: 100%;
	grid-area: ser;
	background: linear-gradient(180deg, #36fce7 0%, #222 20%);
}

.search {
	background-color: #fff;
	color: #000;
	border: 0;
	border-radius: 5px;
	margin-top: 24px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 5px;
	width: 21vw;
	padding: 10px;
	font-family: Roboto, Arial, sans-serif;
}

.search::placeholder {
	font-size: 12px;
}

.results {
	margin: 0px;
	padding-left: 24px;
	padding-right: 24px;
}

.searchgrid {
	grid-template-columns: [title] 6fr [album] 4fr [time] 50px;
	display: grid;
	gap: 10px;
	align-items: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

.searchinfo {
	color: #36fc5c;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.nowplaying {
	display: grid;
	grid-template-columns: [num] 1fr [controls] 2fr;
	padding-left: 24px; 
}

.songsnp {
	display: grid;
	grid-template-areas:
		"npimg nptit"
		"npimg npart";
		grid-template-columns: auto 1fr;
		grid-template-rows: 35px 25px;
	align-items: center;
}

.npimagespan {
	grid-area: npimg;
}

.npimage {
	width: 60px;
	padding: 0;
	margin: 0;
}

.nptitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	grid-area: nptit;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}

.npartist {
	font-size: 12px;
	color: #b9b9b9;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	grid-area: npart;
	padding-left: 10px;
}

.queuenumber:hover {
	font-weight: 300;
	color: #fc3682;
	display: block;
	opacity: 100;
	overflow: hidden;
	transition-duration: .2s;
	position: relative;
	text-align: right;
	font-family: 'Roboto Mono';
}

/* HOME.HTML */

.wrapper { /* background of homepage */
	height: 100vh;
	text-align: center;
	background: linear-gradient(125deg, #fcd536 0%, #fc8db8 50%, #8dfcf0);
}

.jukehomelogo { /* scaling the logo SVG */
	width: 300px;
	margin: 30px 24px 0 24px;
}

.homebuttons {
	padding: 0px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

.sessionID {
	background-color: #fff;
	color: #000;
	border: 0;
	border-radius: 5px;
	width: 300px;
	height: 20px;
	padding: 10px;
	font-family: Roboto, Arial, sans-serif;
	text-align:center;
}

.joinbutton {
	background-color: #36fce7;
	color: #000;
	border: 0;
	border-radius: 5px;
	width: 97px;
	height: 40px;
	font-family: Roboto, Arial, sans-serif;
	text-align:center;
	cursor: pointer;
}

.createbutton {
	background-color: #36fce7;
	color: #000;
	border: 0;
	border-radius: 5px;
	width: 420px;
	height: 40px;
	font-family: Roboto, Arial, sans-serif;
	text-align:center;
	cursor: pointer;
}

.spotifybutton {
	background-color: #36fc5c;
	color: #000;
	border: 0;
	border-radius: 5px;
	width: 420px;
	height: 40px;
	font-family: Roboto, Arial, sans-serif;
	text-align:center;
	cursor: pointer;
	font-weight: bold;
	animation: begging 1s infinite;
}

@keyframes begging {
	0% {
	  background-color: #36fc5c;
	}
	50% {
	  background-color: #83fc9a;
	}
	100% {
	  background-color: #36fc5c;
	}
  }

.usernamebutton {
	background-color: #fff;
	color: #000;
	border: 0;
	border-radius: 5px;
	width: 400px;
	height: 20px;
	padding: 10px;
	font-family: Roboto, Arial, sans-serif;
	text-align:center;
}